In [6]:
import pandas as pd

df = pd.read_csv('master_clean_for_correlation.csv')


# drops all rows with any missing values
df_clean = df.dropna()
df_clean

,period,transit_epoch_bjd,transit_duration_hrs,transit_depth_ppm,planet_radius_earth,star_radius_sol,star_teff,star_logg,disposition_text,source,target_encoded
0,9.488036,1.705387e+02,2.957500,615.800000,2.260000,0.927000,5455.0,4.467,CONFIRMED,Kepler,1
1,19.899140,1.758503e+02,1.782200,10829.000000,14.600000,0.868000,5853.0,4.544,CANDIDATE,Kepler,1
2,2.525592,1.715956e+02,1.654500,603.300000,2.750000,1.046000,6031.0,4.438,CONFIRMED,Kepler,1
3,11.094321,1.712012e+02,4.594500,1517.500000,3.900000,0.972000,6046.0,4.486,CONFIRMED,Kepler,1
4,4.134435,1.729794e+02,3.140200,686.000000,2.770000,0.972000,6046.0,4.486,CONFIRMED,Kepler,1
...,...,...,...,...,...,...,...,...,...,...,...
11253,1.463502,2.459986e+06,1.518000,914.000000,4.758690,1.670000,8035.0,4.280,PC,TESS,1
11254,2.396722,2.459230e+06,3.945317,384.898547,3.838449,1.877390,10393.0,4.320,FP,TESS,0
11256,8.413486,2.459230e+06,3.556833,17479.605331,20.510696,0.926261,5786.0,4.520,FP,TESS,0
11257,0.941436,2.459230e+06,1.360700,339.912662,4.529209,2.349860,8322.0,4.010,FP,TESS,0
11258,1.507896,2.459986e+06,2.759000,1839.000000,5.530910,1.300000,6635.0,4.350,FP,TESS,0

In [7]:
# pushes the whole df_clear to the sqlite database using library
import sqlite3
conn = sqlite3.connect('wapp.db')
df_clean.to_sql('transits', conn, if_exists='replace', index=False)
conn.close()

In [9]:
# read the schema from the database
conn = sqlite3.connect('wapp.db')
cursor = conn.cursor()
cursor.execute("PRAGMA table_info('transits');")
columns = cursor.fetchall()
for col in columns:
    print(col)
conn.close()

(0, 'period', 'REAL', 0, None, 0)
(1, 'transit_epoch_bjd', 'REAL', 0, None, 0)
(2, 'transit_duration_hrs', 'REAL', 0, None, 0)
(3, 'transit_depth_ppm', 'REAL', 0, None, 0)
(4, 'planet_radius_earth', 'REAL', 0, None, 0)
(5, 'star_radius_sol', 'REAL', 0, None, 0)
(6, 'star_teff', 'REAL', 0, None, 0)
(7, 'star_logg', 'REAL', 0, None, 0)
(8, 'disposition_text', 'TEXT', 0, None, 0)
(9, 'source', 'TEXT', 0, None, 0)
(10, 'target_encoded', 'INTEGER', 0, None, 0)